<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Yet_another_Windows_tweaker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Yet_another_Windows_tweaker.Properties.Settings>
            <setting name="CatAboutPC" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CatExp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CatWork" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CatSec" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CatEtc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CatAct" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CatContext" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CatSet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CatAbout" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CB1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CB2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CB3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CB4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CB5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CB6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CB7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CB8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CB9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CB10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CB11" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CB12" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CB13" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CB14" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CBE1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CBE2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CBE3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CBE4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CBE5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CBR1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CBR2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CBR3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CBR4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CBR5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CBR6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CBR7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CBR8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CBR9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CBU1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CBU2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CBU3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CBU4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CBU5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CBU6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CBU7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CBU8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CBU9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CBU10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CBET1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CBET2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CBET3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CBET4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CBET5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CBET6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CBET7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CBET8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CBET9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CBET10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CBET11" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CBET12" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SplashRandom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ActFirstTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NeedReboot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NeedExpReboot" serializeAs="String">
                <value>False</value>
            </setting>
        </Yet_another_Windows_tweaker.Properties.Settings>
    </userSettings>
</configuration>